h1 {
  margin-top: 0px;
}

footer {
margin: 1em 0;
padding: 2em 0 1em 0;
background-color: #f7f7f7;
}

.bg-info {
padding:10px;
}

div.url {
margin: 2em 0;
}

#sidebar {
margin-top:2em;
}

.examples {
margin: 5em 0;
}

ul {
padding: 0;
}

li {
list-style-type: none;
}

li.odd div {
background: #ddd;
/* display: block; */
margin: 2px 0;
padding: 2px 0;
}
.iati-label {
font-weight: bold;
}

ul .actinfo {
border-left: 1px solid black;
margin-left: 0.5em;
padding-left: 0.5em;
margin-bottom: 0.5em;
}

footer ul {
padding-left: 20px;
}

footer li {
list-style-type: disc;
}

#footer-cookie {
border-top: 2px folis #fff;
margin-top:10px;
}
